*{
    padding: 0;
    margin: 0;
    color: white;
}

#navbar{
    height: 60px;
    background-color: #0f1111;
  
}
button{
    background-color: #f08804;
}
#logo{
    color: #f08804;
    font-size: 25px;
  
}
a{
    margin-right: 175px;
    text-decoration: none;
}