*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(92, 161, 161);
    text-align: center;
    margin-top: 20px;
}
.container{
    height: 70vh;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    /* background-color: aliceblue; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgb(196, 195, 195);
    opacity: 0.5;
    font-size: 8vmin;
    color: rgb(31, 1, 14);
    background-color: rgb(255, 255, 0);
}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(9, 104, 60);
    color: white;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}
#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(9, 104, 60);
    color: white;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}
#msg{
    color: rgba(255, 255, 255, 0.888)smoke;
    font-size: 8vmin;
}
.msg-container{
    height : 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hide{
    display: none;
}