div{
    height: 200px;
    width: 200px;
    margin-top: 200px;
    margin-left: 500px;
    border-radius: 50%;
    border: 20px solid rgb(227, 221, 222);
    border-top: 20px solid rgb(183, 177, 177);
    animation: spinAnimate 3s ease-in-out 0s infinite normal;
}
@keyframes spinAnimate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
    
}